<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770338460266-ba2s6gudeugtn5r2p1hcqulp7r09kf0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770338460266-ba2s6gudeugtn5r2p1hcqulp7r09kf0m</string>
	<key>API_KEY</key>
	<string>AIzaSyACBDNCPb4sR5woVmogWLRone9dbcgDM4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>770338460266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lemon.lemonSprites</string>
	<key>PROJECT_ID</key>
	<string>lemon-sprites</string>
	<key>STORAGE_BUCKET</key>
	<string>lemon-sprites.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770338460266:ios:0c2e2c7641e0240b807013</string>
</dict>
</plist>